#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_install:
	install -Dm755 target/release/openvpn-gui-linux \
		debian/openvpn-gui-linux/usr/bin/openvpn-gui-linux
	install -Dm644 packaging/openvpn-gui-linux.desktop \
		debian/openvpn-gui-linux/usr/share/applications/openvpn-gui-linux.desktop
	install -Dm644 assets/logo.png \
		debian/openvpn-gui-linux/usr/share/icons/hicolor/256x256/apps/openvpn-gui-linux.png

override_dh_auto_test:
	cargo test --release --locked

override_dh_auto_clean:
	cargo clean || true
